.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    height: 75%;
    background-color:transparent;
    border: 2px solid #f08000;
    border-radius:50px;
}